


body {
    font: 15px arial, sans-serif;
    color: CornflowerBlue;
    background-image: url("combg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}